:root {
  --ff-accent: "Calistoga", cursive;
  --ff-primary: "Roboto", sans-serif;
  /* --ff-primary: "Calistoga", cursive; */
}

.App {
  background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  font-family: var(--ff-primary);
  text-align: center;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: var(--ff-primary);
  font-size: 16px;
}

.App .pageTitle {
  font-family: var(--ff-accent);
  text-shadow: whitesmoke 2px 2px;
}
